---
import { SITE } from 'astrowind:config';
import LogoImage from '~/assets/images/logo.png'; // 추가
---

<!-- <span
  class="self-center ml-2 text-2xl font-bold text-gray-900 rtl:ml-0 rtl:mr-2 md:text-xl whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span> -->
<img src={LogoImage.src} alt={SITE?.name || 'Logo'} class="self-center w-auto h-10 ml-2 rtl:ml-0 rtl:mr-2" />
